nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.pt-1.pb-2
  .container-fluid
    a.navbar-brand(href='/')
      strong sub
      | groups
      
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    //- if is_authenticated
    if group
      .btn-group
        a.btn.btn-primary(href='/group/'+group.current.group_id)=group.current.group_name
  
        button.btn.btn-primary.dropdown-toggle.dropdown-toggle-split(type='button' data-bs-toggle='dropdown' aria-expanded='false')
          span.visually-hidden Altgruplar
        ul.dropdown-menu
          each val in group.subs
            li
              a.dropdown-item(href='/group/'+val.group_id)=val.group_name

      if group
        a.btn.btn-primary.me-2.ms-2(type='button' data-bs-toggle='modal' data-bs-target='#treeShowModal')
            i.mt-1.fa-solid.fa-diagram-project
            | 
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-lg-0
      
      form.d-flex.me-auto.m-0
        input.form-control.me-2(type='search' placeholder='ara' aria-label='Search')
        
        button.btn.btn-outline-success(type='submit') ara
        if group
            .dropdown.ms-2
              if filter
                if filter.name
                  button#filterdropdown.btn.btn-success.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                    i.mt-1.fas.fa-filter
                    |  #{filter.name}

                else
                  button#filterdropdown.btn.btn-outline-success.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                      i.mt-1.fas.fa-filter
                      | 

              ul.dropdown-menu(aria-labelledby='filterdropdown')
                li
                  a.dropdown-item(href="?filter=up&filtername=Yukarı Oylananlar") Yukarı oylananlar
                li
                  a.dropdown-item(href="?filter=down&filtername=Aşağı oylananlar")  Aşağı oylananlar
                li
                  a.dropdown-item(href="?filter=newest&filtername=En yeniler") En yeniler
                li
                  a.dropdown-item(href="?filter=oldest&filtername=En eskiler") En eskiler
                li
                  a.dropdown-item(href="?filter=clear") Filtreyi Temizle
      .d-flex.ml-2.mb-0
        if is_authenticated
          
          //- if group
          //-   if group.info.is_owner  
          //-     a.btn.btn-primary.me-2(type='button' data-bs-toggle='modal' data-bs-target='#groupsModalSm')
          //-       i.mt-1.fas.fa-plus
          //-     a.btn.btn-primary.me-2(type='button' data-bs-toggle='modal' data-bs-target='#postSendModal')
          //-         i.mt-1.fas.fa-pen
          //-   if group.info.is_participant
          //-     a.btn.btn-primary.me-2(type='button' data-bs-toggle='modal' data-bs-target='#postSendModal')
          //-       i.mt-1.fas.fa-pen
              
                      
          .dropdown#dropdown_message_link.btn.btn-primary.me-2(href='messagebox' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              i.mt-1.fas.fa-envelope
          ul.dropdown-menu.dropdown-menu-end(aria-labelledby='dropdown_message_link')
            .card(style='width: 18rem;')
              ul.list-group.list-group-flush
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  | An item
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  |  Anitem
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  | An item
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  | An item
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  | An item
              .container.mt-2.text-center
                button.btn.btn-outline-primary.me-0
                  i.fas.fa-fw.fa-angle-left
                | 
                button.btn.btn-primary 1
                | 
                button.btn.btn-outline-primary 2
                | 
                button.btn.btn-outline-primary 3
                | 
                button.btn.btn-outline-primary.me-0
                  i.fas.fa-fw.fa-angle-right
          .dropdown#dropdown_notifications_link.btn.btn-primary.me-2(href='messagebox' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            i.mt-1.fas.fa-bell
          ul.dropdown-menu.dropdown-menu-end(aria-labelledby='dropdown_notifications_link')
            .card(style='width: 18rem;')
              ul.list-group.list-group-flush
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;An item
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  |  Anitem
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;An item
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;An item
                li.list-group-item.btn.btn-primary.btn-outline
                  i.fas.fa-fw.fa-dot-circle
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;An item
            .container.mt-2.text-center
              button.btn.btn-outline-primary.me-0
                i.fas.fa-fw.fa-angle-left
              | 
              button.btn.btn-primary 1
              | 
              button.btn.btn-outline-primary 2
              | 
              button.btn.btn-outline-primary 3
              | 
              button.btn.btn-outline-primary.me-0
                i.fas.fa-fw.fa-angle-right
          

          .btn-group
            button.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' data-bs-display='static' aria-expanded='false')=user.username
            ul.dropdown-menu.dropdown-menu-lg-end
              li
                a.dropdown-item(href="/user/profile") kullanıcı sayfası
              li
                a.dropdown-item(href="/logout/") çıkış yap

          //- .dropdown
            //- button#dropdownMenuButton1.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')=user.username
            //- ul.dropdown-menu.dropdown-menu-left(aria-labelledby='dropdownMenuButton1')



          //- a.btn.btn-danger.dropdown-toggle(href="/logout/")=user.username
        else
          if title == "login"
            a.btn.btn-primary.me-2(href='/login') Giriş Yap
            a.btn.btn-outline-primary(href='/register') Kayıt Ol
          else if title == "register"
            a.btn.btn-outline-primary.me-2(href='/login') Giriş Yap
            a.btn.btn-primary(href='/register') Kayıt Ol
          else
            a.btn.btn-outline-primary.me-2(href='/login') Giriş Yap
            a.btn.btn-outline-primary(href='/register') Kayıt Ol


#groupsModalSm.modal(tabindex='-1' aria-labelledby='groupsModalSmLabel' style='display: none;' aria-hidden='true')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5#groupsModalSmLabel.modal-title.h4 Yeni grup ekle
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form#sendgroupform.row.g-3(action='/group/new/' method='post')
          input.form-control(type='text' name='groupname' minLength="5" placeholder='Grup adı')
          if group
            input#hidden2(type='hidden' name='parent_group_id' value=group.current.group_id)
          else
            input#hidden2(type='hidden' name='parent_group_id' value='1')
          button.btn.btn-outline-success.float-end(type='submit') Grup Ekle
if group
  #postSendModal.modal(tabindex='-1' aria-labelledby='groupsModalSmLabel' style='display: none;' aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        //- form(action='/upload/filename' method='post' enctype='multipart/form-data')
        //- input(type='submit')
        //-   label.form-label(for='formFileMultiple') Dosyalarınızı buradan yükleyebilirsiniz
        //-     //- input#myFile(type='file' name="filename" multiple='')

        .modal-header
        
          h5#groupsModalSmLabel.modal-title.h4 Gönderi gönder
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          //- form.row.g-3(action='/upload/filenameeessees' method='post')
          input#myFile.form-control.md-3.mb-2(type='file' accept="image/*" name='filename')
          div#uploaded_files.container.text-center
          form#sendpostform.row.g-3(action='/post/new/' method='post')
            input.form-control(type='text' name='post_header' minLength="5" placeholder='Gönderi başlığı')
            textarea#editor.form-control.mt-0( name='post_body' rows='15' placeholder="İçerik")
            input#hidden2(type='hidden' name='group_id' value=group.current.group_id)
            button.btn.btn-outline-success.float-end(type='submit') Gönder
  
  #treeShowModal.modal(tabindex='-1' aria-labelledby='groupsModalSmLabel' style='display: none;' aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h5#groupsModalSmLabel.modal-title.h4 '#{group.current.group_name}' grubunun ağacı
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.text-center.overflow-auto
          figure
            figcaption '#{group.current.group_name}' grubunun ağacı
            ul#rootnodetree.tree
                  
            if tree
              script.
                //- burada tree yi olustur recursive tree treversal yaparak
                var tree = !{JSON.stringify(tree)}
                console.log(tree)
                function recursive_tree_traversal(){
                  console.log("test")
                  const codelement = document.createElement('code')
                  codelement.innerHTML = 'title'
                  const element = document.createElement('li');
                }
            