mixin thumbnail(post = {}, short)
		
	.row.mt-3

		.card.col-1.text-center.pr-0.pl-0
			a(href= `/post/${post.id}/up`)
				svg.bi.bi-arrow-up(xmlns='http://www.w3.org/2000/svg' font-weight='bold' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
					path(fill-rule='evenodd' d='M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z')
			h4.ml-0= post.votes
			a(href= `/post/${post.id}/down`)
				svg.bi.bi-arrow-down(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
					path(fill-rule='evenodd' d='M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z')
			br
			if owner_of_post
				a.btn.btn-outline-danger(href=`/post/${post.id}/delete`) Delete
				| 
				a.btn.btn-outline-primary(href=`/post/${post.id}/update`) Update
		.card.col-11.pr-0.pl-0(class = short ? 'bordered-black' : '')
			
			.card-header
				h4=post.header
			.card-body.text-dark
				if short
					a.stretched-link(href = `/post/${post.id}`)
				if short && (post.body.length > 500)
					p.card-text=post.body.substring(0,500)
				else
					p.card-text=post.body
				.text-secondary= `posted by user `
					strong= post.author
					|  at 

					italic= post.create_timestamp
			
